
body {
    box-sizing: border-box;
}

.top-section {
    border: 3px;
    border-color: black;
    border-style: solid;
    height: 30vh; 
    display: flex;
    justify-content: left; 
    min-height: 120px;
}

.purple-box {
    background: rgb(144, 40, 165);
    height: 20vh;
    width: 7vw;
    margin: 60px 5px 4px 5px;
}

.green-box {
    background: green;
    height: 28vh;
    width: 35vw;
    margin: 5px 20px;
}

.blue-circle {
    background: rgb(114, 211, 214);
    height: 150px;
    width: 150px;
    margin: 5px 15px;
    border-radius: 50%;
}

.dotted-box {
        border: 3px;
        border-color: black;
        border-style: dotted;
        height: 100%; 
        margin-top: 10px;
        padding: 12px;
        
}

.yellow-box {
        background: beige;
        height: 200px;
        width: 100%;
        margin: 5px 2px;
        box-shadow: 4px 4px 9px 2px black;
} 

footer {
    border: 1px;
    border-color: rgb(182, 182, 182);
    border-style: solid;
    height: 150px;
    width: 300px;
    margin: 10px 25%;
    padding: 80px;
    box-shadow: 2px 2px 9px 1px rgb(182, 182, 182);
}

h1 {
    text-align: center;
}

.greeting-box {
    width: 45%;
    margin: 0 auto;
}